html, body {
  height: 100%;
  margin: 0;
}

.page-content {
  min-height: 100%;

  /* negative is the same measurement as a footer height */
  margin-bottom: -120px;
}

  .page-content::after {
    content: "";
    display: block;
  }

footer, .page-content::after {
  height: 120px;
}
