.triangle {
  position: relative;
  height: 320px;

  clip-path: polygon(50% 0, 20% 100%, 80% 100%);
}

  .triangle div {
    position: absolute;
    top: 0;
    background: red;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    color: red;
    line-height: 100px;
    text-align: center;
    font-size: 0.8em;

    transition: all ease 0.6s;
  }

    .triangle:hover div {
      color: white;
    }

    .triangle:hover .mid {
      top: 110px;
      background: green;
    }

    .triangle:hover .bottom {
      top: 220px;
      background: blue;
    }

.top {
  z-index: 2;
}

.mid {
  z-index: 1;
}
