/* SLIDE */

.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.slide img {
  display: inline-block;
  vertical-align: middle;
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 35, 69, 0.9);
  padding: 20px;
  color: white;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: transform ease 0.3s;
}

.slide:hover .slide-content {
  transform: translate(0, 0);
}

/* DIRECTIONS */

.slide-top .slide-content {
  transform: translate(0, -100%);
}

.slide-right .slide-content {
  transform: translate(100%, 0);
}
.slide-bottom .slide-content {
  transform: translate(0, 100%);
}
.slide-left .slide-content {
  transform: translate(-100%, 0);
}
