.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown__hover {
  display: inline-block;
  padding: 10px;
  background: #323B40;
  color: white;
  cursor: pointer;
  border: none;
}

  .dropdown__hover:hover {
    background: #222;
  }

.dropdown__menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: white;
  color: #323B40;
  box-shadow:  0 3px 2px rgba(0,0,0,0.3);
}

  .dropdown:hover .dropdown__menu {
    display: block;
  }

  .dropdown__menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: solid 1px #E0E0E0;
  }

    .dropdown__menu a:hover {
      background: #F0F0F0;
      color: #323B40;
    }
