/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

 /* =====================
    FACEBOOK STYLE BUTTON
    ===================== */
.facebook-style-btn {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-dark {
  -moz-box-shadow:    inset 0 1px 0 0 #4d73bf;
  -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
  box-shadow:         inset 0 1px 0 0 #4d73bf;
  background: #4267b2;
  border: solid 1px #4267b2;
  color: white;
  text-shadow: 0 1px 0 #3359a5;
}

  .facebook-style-dark:hover {
    background: #2b54a7;
  }

  .facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
  }


.facebook-style-light {
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}

  .facebook-style-light:hover {
    background: #e9ebee;
  }

  .facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
  }


/* =====================
   3D BUTTON 1
   ===================== */

/* =====================
   3D BUTTON 2
   ===================== */


/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */



/* =========================
   ANIMATED BUTTONS
   ========================= */



/* =========================
   TOGGLE SWITCH UI BUTTONS
   ========================= */
