.accordion {
  position: relative;
  display: block;
  background-color: white;
  border: solid 1px #e0e0e0;
}

.accordion__item {
  display: block;
}

.accordion .accordion__content {
  display: block;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height ease 0.5s, padding linear 0.5s
}

  .accordion .accordion__content:target {
    height: 150px;
  }

.accordion .accordion__content p {
  padding: 20px;
  margin: 0;
}

.accordion .accordion__trigger {
  text-decoration: none;
}

.accordion .accordion__title {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1em;
  background: #00b3b4;
  color: white;
  border: solid 1px #379aa4;

  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset,
              0 -1px 0 rgba(255,255,255,0.1) inset,
              0 4px 0 #338a94,
              0 4px 2px rgba(0,0,0,0.5);
}

  .accordion .accordion__title:hover {
    background-color: #0bbfc0;
  }

.accordion .accordion__title::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
  width: 7px;
  height: 7px;
  border-left: solid 2px white;
  border-bottom: solid 2px white;

  transform: rotate(-45deg);
}
