.path {
  position: relative;
  width: 100%;
  height: 100px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

  .path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white;
    width: 90%;
    top: 50%;
    margin-top: -6px;
    left: 5%;
  }

.pacman {
  position: absolute;
  z-index: 99;
  top: 50%;

  animation: moveForward linear 5s infinite;
}

  .pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;

    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;

    animation: mouthTop ease 0.7s infinite;
  }

  .pacman::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;

    animation: mouthBottom ease 0.7s infinite;
  }

@keyframes moveForward {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}
