.path {
  position: relative;
  width: 100%;
  height: 100px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

  .path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white;
    width: 90%;
    top: 50%;
    margin-top: -6px; 
    left: 5%;
  }
