.path {
  position: relative;
  width: 100%;
  height: 100px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

  .path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white;
    width: 90%;
    top: 50%;
    margin-top: -6px;
    left: 5%;
  }

.pacman {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: -20%;

  animation: moveForward linear 5s infinite;
  animation-delay: 0.8s;
}

  .pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;

    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;

    animation: mouthTop ease 0.7s infinite;
  }

  .pacman::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;

    animation: mouthBottom ease 0.7s infinite;
  }

.ghost {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 20%;
  height: 70px;
  width: 60px;

  margin-top: -35px;
  background: red;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;

  animation:   moveForward linear 5s infinite,
               blinky linear 0.5s infinite;
}

  

.eyes::before, .eyes::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 5px;

  background: blue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  z-index: 99;

  animation: peeperLeft linear 0.7s infinite;
}

  .eyes::after {
    left: 30px;

    animation: peeperRight linear 0.7s infinite;
  }

.skirt, .skirt::before, .skirt::after {
  position: absolute;
  height: 0;
  width: 0;
  border: solid 10px #333;
  border-top-color: transparent;
  bottom: -10px;
}

  .skirt::before {
    content: "";
    left: 10px;
  }

  .skirt::after {
    content: "";
    left: 30px;
  }

@keyframes moveForward {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}

@keyframes blinky {
  50% {
    background: hotpink;
  }
}

@keyframes peeperLeft {
  0%, 100% {
    left: 5px;
  }

  50% {
    left: 10px;
  }
}

@keyframes peeperRight {
  0%, 100% {
    left: 30px;
  }

  50% {
    left: 35px;
  }
}
